// FOOTER
footer.footer
    .footer__content
        .footer__col
            p.footer__col-heading SOCIALS

            ul.footer__media
                li.footer__item
                    a.footer__link(href='https://twitter.com/_DeepakGangwar' target='_blank' aria-label='Deepak Gangwar Twitter\'s account - new window')
                        span Twitter
                li.footer__item
                    a.footer__link(href='https://github.com/deepak-gangwar' target='_blank' aria-label='Deepak Gangwar Github\'s account - new window')
                        span GitHub
                li.footer__item
                    a.footer__link(href='https://www.linkedin.com/in/deepak-gangwar' target='_blank' aria-label='Deepak Gangwar LinkedIn\'s account - new window')
                        span LinkedIn

        .footer__col
            p.footer__col-heading &copy; 2022 All Rights Reserved
            span.footer__description
                pre
                    | Deepak Gangwar
                    | Frontend Developer
                    | Portfolio

        .footer__col
            p.footer__col-heading TOP
            a(herf='#').top
                svg.top-arrow(xmlns='http://www.w3.org/2000/svg' width='17.71' height='33.41' viewbox='0 0 17.71 33.41')
                    title back to top arrow
                    g
                        polyline.top-arrow(points='0.71 8.41 7.71 1.41 14.71 8.41')
                        path.top-arrow(d='M17.71,32.41H10.52A2.81,2.81,0,0,1,7.71,29.6V2.41')
