// FOOTER
footer.footer__wrapper 
    .footer__content
        .footer__col
            .footer__col-heading
                | SOCIALS

            ul.footer__media
                li.footer__item
                    a.footer__link(href='twitter.com' traget='_blank' aria-label='Deepak Gangwar Twitter\'s account - new window')
                        span
                            | Twitter
                li.footer__item
                    a.footer__link(href='instagram.com' traget='_blank' aria-label='Deepak Gangwar Instagram\'s account - new window')
                        span
                            | Instagram
                li.footer__item
                    a.footer__link(href='linkedin.com' traget='_blank' aria-label='Deepak Gangwar LinkedIn\'s account - new window')
                        span
                            | LinkedIn

        .footer__col
            .footer__col-heading
                | &copy; 2022 All Rights Reserved
            .footer__description
                | Deepak Gangwar <br />
                | Frontend Developer <br />
                | Portfolio

        .footer__col
            .footer__col-heading
                | TOP
            .top