// HEADER
header.header
  ul.header__list 
    li.header__item
      a(href="/")  DEEPAK GANGWAR 
    li.header__item TEMPORARY PORTFOLIO 
    li.header__item 
      .contact
        p &nbsp;&nbsp;Contact Me&nbsp;&nbsp;&nbsp;
      .contact
        p Copy email
      .contact 
        p Email Copied! 