// HERO
section.hero
    .hero__title
        .hero__line
            .hero__line__wrapper  
                span.hero__word Deepak
                span.hero__word Gangwar
        .hero__line
            .hero__line__wrapper  
                span.hero__word Frontend
                span.hero__word Developer
        .hero__line
            .line__svg
            .hero__line__wrapper  
                span.hero__word Portfolio 
                span.hero__word#hero-2022 2022
    p.hero__description
        | Frontend Developer working with brands and individuals across the world.
        br
        | Individual with an eye for good design and passionate about motion and delivering 
        br
        | immersive experiences for the web. Accepting freelance work since October 2022