// HERO
section.hero 
    .hero__title
        .hero__line
            .hero__line__wrapper  
                .hero__word
                    | Deepak
                .hero__word
                    | Gangwar
        .hero__line
            .hero__line__wrapper  
                .hero__word
                    | Frontend
                .hero__word
                    | Developer
        .hero__line
            .line__svg
            .hero__line__wrapper  
                .hero__word
                    | Portfolio 
                .hero__word
                    | 2022
    .hero__description
        | Frontend Developer working with brands and individuals across the world.
        br
        | Individual with an eye for good design and passionate about motion and delivering 
        br
        | immersive experiences for the web. Accepting freelance work since July 2022