// HERO
section.hero 
    .hero__title
        .hero__line
            .hero__line__wrapper  
                .hero__word
                    | Deepak
                .hero__word
                    | Gangwar
        .hero__line
            .hero__line__wrapper  
                .hero__word
                    | Frontend
                .hero__word
                    | Developer
        .hero__line
            .line__svg
            .hero__line__wrapper  
                .hero__word
                    | Portfolio 
                .hero__word
                    | 2022
    .hero__description
        | Contrary to popluar belief, Lorem ipsum is not simply random text. It has roots <br>
        | in a piece of classical Latin literature from 45 BC, making it over 2000 years old. <br>
        | Richard McClintock, a Latin professor obscure Latin words