// WORKS
section#works.project
    .project__heading
        | Project 
        i List 

    ul.project__list
        li.project__item
            //- a.project__link(href='https://penthouse.deepakgangwar.me' aria-label="See project MP Penthouse" target="_blank")
            a.project__link(href='/mpp.html' aria-label="See project MP Penthouse")
                span.project__number 1 
                span.project__title MP Penthouse
                //- figure.project__img   
                    img(src='1.png' alt="project 1 image")
        
        li.project__item
            a.project__link(href='/dcs.html' aria-label="See project Dental Care Seattle")
                span.project__number 2
                span.project__title Dental Care Seattle
                //- figure.project__img   
                    img(src='2.png' alt="project 2 image")
        
        li.project__item
            a.project__link(href='/lucciano.html' aria-label="See project Lucciano Icepops & Gelatos")
                span.project__number 3
                span.project__title Lucciano's
                //- figure.project__img   
                    img(src='3.png' alt="project 3 image")
        
        li.project__item
            a.project__link(href='/slider.html' aria-label="See project underpromise AW18")
                span.project__number 4
                span.project__title Henrik Adamsen
                //- figure.project__img   
                    img(src='4.jpg' alt="project 4 image")
        
        li.project__item
            a.project__link(href='/eq.html' aria-label="See project about EQ Skincare")
                span.project__number 5
                span.project__title EQ Skincare
                //- figure.project__img   
                    img(src='5.png' alt="project 5 image")
        
        li.project__item
            a.project__link(href='/misc.html' aria-label="See some miscellaneous projects")
                span.project__number 6
                span.project__title Misc
                //- figure.project__img   
                    img(src='6.jpg' alt="project 6 image")