// WORKS
section#works.project
    .project__heading
        | Project 
        i List 

    ul.project__list
        li.project__item
            a.project__link(href='' aria-label="Wannabe")
                span.project__number 1 
                span.project__title Wannabe
                figure.project__img   
                    img(src='1.jpg' alt="project 1 image")
        
        li.project__item
            a.project__link(href='' aria-label="Deplace Maison")
                span.project__number 2
                span.project__title Deplace Maison
                figure.project__img   
                    img(src='2.png' alt="project 2 image")
        
        li.project__item
            a.project__link(href='' aria-label="Cobo")
                span.project__number 3
                span.project__title Cobo
                figure.project__img   
                    img(src='3.jpg' alt="project 3 image")
        
        li.project__item
            a.project__link(href='' aria-label="FFF Festival")
                span.project__number 4
                span.project__title MP Penthouse
                figure.project__img   
                    img(src='4.png' alt="project 4 image")