// WORKS
section#works.project
    .project__heading
        | Project 
        i List 

    ul.project__list
        li.project__item
            a.project__link(href='https://penthouse.deepakgangwar.me' aria-label="See project MP Penthouse" target="_blank")
                span.project__number 1 
                span.project__title MP Penthouse
                //- figure.project__img   
                    img(src='1.png' alt="project 1 image")
        
        li.project__item
            a.project__link(href='https://flow.deepakgangwar.me' aria-label="See project Flow" target="_blank")
                span.project__number 2
                span.project__title Flow
                //- figure.project__img   
                    img(src='2.png' alt="project 2 image")
        
        li.project__item
            a.project__link(href='https://vase.deepakgangwar.me' aria-label="See project Maison Vase" target="_blank")
                span.project__number 3
                span.project__title Maison Vase
                //- figure.project__img   
                    img(src='3.jpg' alt="project 3 image")
        
        li.project__item
            a.project__link(href='https://slider.deepakgangwar.me' aria-label="See project Slider" target="_blank")
                span.project__number 4
                span.project__title Slider
                //- figure.project__img   
                    img(src='4.jpg' alt="project 4 image")