// WORKS
section#works.project
    .project__heading
        span Project 
        span 
            i List 

    ul.project__list
        a.project__link(href='' aria-label="Wannabe")
            li.project__item
                .project__content
                    .project__number 1 
                    .project__title(href='') Wannabe
                    .project__img   
                        figure
                            img(src='1.jpg')
                            picture.lazy
        
        a.project__link(href='' aria-label="Deplace Maison")
            li.project__item
                .project__content 
                    .project__number 2
                    .project__title(href='') Deplace Maison
                    .project__img   
                        figure
                            img(src='2.png')
                            picture.lazy
        
        a.project__link(href='' aria-label="Cobo")
            li.project__item
                .project__content 
                    .project__number 3
                    .project__title(href='') Cobo
                    .project__img   
                        figure
                            img(src='3.jpg')
                            picture.lazy
        
        a.project__link(href='' aria-label="FFF Festival")
            li.project__item
                .project__content 
                    .project__number 4
                    .project__title(href='') MP Penthouse
                    .project__img   
                        figure
                            img(src='4.png')
                            picture.lazy