// HERO
section.hero
    .hero__title
        .hero__line
            .hero__line__wrapper  
                span.hero__word Photographer
                span.hero__word &
        .hero__line
            .hero__line__wrapper  
                span.hero__word Art
                span.hero__word Director
        .hero__line
            .line__svg
            .hero__line__wrapper  
                span.hero__word  Portfolio
                span.hero__word#hero-2022 
    p.hero__description
        | A portfolio website for a photographer
        br
        | Infinite slider implementation
        br
        | Role - Design