.project__showcase 
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/slider/webp/slider-1.webp" type="image/webp")
            img(src="/images/projects/slider/jpg/slider-1.png", alt="")
        
    figure.preview
        picture 
            source(srcset="/images/projects/slider/webp/slider-2.webp" type="image/webp")
            img(src="/images/projects/slider/jpg/slider-2.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/slider/webp/slider-3.webp" type="image/webp")
            img(src="/images/projects/slider/jpg/slider-3.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/slider/webp/slider-4.webp" type="image/webp")
            img(src="/images/projects/slider/jpg/slider-4.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/slider/webp/slider-5.webp" type="image/webp")
            img(src="/images/projects/slider/jpg/slider-5.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/slider/webp/slider-6.webp" type="image/webp")
            img(src="/images/projects/slider/jpg/slider-6.png", alt="")