// HERO
section.hero
    .hero__title
        .hero__line
            .hero__line__wrapper  
                span.hero__word EQ
                span.hero__word 
        .hero__line
            .hero__line__wrapper  
                span.hero__word Skincare
                span.hero__word 
        .hero__line
            .line__svg
            .hero__line__wrapper  
                span.hero__word 
                span.hero__word#hero-2022 
    p.hero__description
        | A natural, toxin free skincare brand
        br
        | Because your skin deserves the best
        br
        | Role - Design