.project__showcase 
    figure.preview
        picture 
            source(srcset="/images/projects/skin/webp/skin-1.webp" type="image/webp")
            img(src="/images/projects/skin/jpg/skin-1.png", alt="")
        
    figure.preview
        picture 
            source(srcset="/images/projects/skin/webp/skin-2.webp" type="image/webp")
            img(src="/images/projects/skin/jpg/skin-2.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/skin/webp/skin-3.webp" type="image/webp")
            img(src="/images/projects/skin/jpg/skin-3.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/skin/webp/skin-4.webp" type="image/webp")
            img(src="/images/projects/skin/jpg/skin-4.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/skin/webp/skin-5.webp" type="image/webp")
            img(src="/images/projects/skin/jpg/skin-5.png", alt="")