// HERO
section.hero
    .hero__title
        .hero__line
            .hero__line__wrapper  
                span.hero__word Some
                span.hero__word 
        .hero__line
            .hero__line__wrapper  
                span.hero__word miscellaneous
                span.hero__word 
        .hero__line
            .line__svg
            .hero__line__wrapper  
                span.hero__word  Projects
                span.hero__word#hero-2022 
    p.hero__description
        | This is a collection of some miscallaneous design projects.
        br
        | Made with love ♥ Hope you like it.
        br
        | Role - Design