.project__showcase 
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-1.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-1.png", alt="")
        
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-2.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-2.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-3.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-3.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-4.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-4.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-6.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-6.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-5.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-5.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-7.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-7.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-9.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-9.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-8.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-8.png", alt="")
    