.project__showcase 
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-1.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-1.png", alt="")
        
    figure.preview.boxed__preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-2.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-2.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-3.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-3.png", alt="")
    
    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-4.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-4.png", alt="")
    
    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-5.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-5.png", alt="")
    
    figure.preview.boxed__preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-6.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-6.png", alt="")
    
    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-7.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-7.png", alt="")
    
    figure.preview.boxed__preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-8.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-8.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-9.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-9.png", alt="")

    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-10.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-10.png", alt="")
        
    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-11.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-11.png", alt="")
    
    figure.preview.boxed__preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-12.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-12.png", alt="")
    
    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-13.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-13.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-14.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-14.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-15.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-15.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-16.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-16.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-17.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-17.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-18.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-18.png", alt="")

    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-19.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-19.png", alt="")
        
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-20.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-20.png", alt="")
    
    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-21.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-21.png", alt="")
    
    figure.preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-22.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-22.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-23.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-23.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-24.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-24.png", alt="")
    
    figure.preview.boxed__preview(style="margin-bottom: 30px;")
        picture 
            source(srcset="/images/projects/misc/webp/misc-25.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-25.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/misc/webp/misc-26.webp" type="image/webp")
            img(src="/images/projects/misc/jpg/misc-26.png", alt="")