.project__showcase 
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-1.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-1.png", alt="")
        
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-2.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-2.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-3.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-3.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-4.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-4.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-6.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-6.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-5.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-5.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-7.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-7.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-9.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-9.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/lucciano/webp/lucciano-8.webp" type="image/webp")
            img(src="/images/projects/lucciano/jpg/lucciano-8.png", alt="")
    