.preloader {
    color: $color-primary;
    text-align: center;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: z('preloader');
}
  
.preloader__text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    overflow: hidden;
    transform: translate3d(0, 0, 0) skewY(0);
    z-index: inherit;
}

.preloader__text-inner, 
.preloader__number-inner {
    will-change: transform;
    transform-origin: 'top left';
}

.preloader__text span, 
.preloader__number span {
    position: relative;
    display: inline-block;
}

.preloader__number {
    overflow: hidden;
    transform: translate3d(0, 0, 0) skewY(0);
    z-index: inherit;
}