// HERO
section.hero
    .hero__title
        .hero__line
            .hero__line__wrapper  
                span.hero__word Millers
                span.hero__word Point
        .hero__line
            .hero__line__wrapper  
                span.hero__word Penthouse
                span.hero__word 
        .hero__line
            .line__svg
            .hero__line__wrapper  
                span.hero__word  
                span.hero__word#hero-2022 
    p.hero__description
        | In collaboration with The Local Project Australia.
        br
        | A promitional website to showcase the great architectural feature