.project__showcase 
    figure.preview
        //- .aspect(style="background-image: url('./images/projects/mpp/webp/mpp-1.webp');")
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-1.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-1.png", alt="Landing page design for Millers Point Penthouse")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-2.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-2.png", alt="Large heading page design")
    
    figure.preview
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-3.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-3.png", alt="Mink Veneer section design")
        
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-4.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-4.png", alt="Carousel design to showcase various elements of the hosue")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-5.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-5.png", alt="Some imagery to showcase the apartment")
    
    figure.preview
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-6.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-6.png", alt="Card based carousel design")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-7.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-7.png", alt="Extended view, video player and newsletter")

    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/mpp/webp/mpp-8.webp" type="image/webp")
            img(src="/images/projects/mpp/jpg/mpp-8.png", alt="Footer design for Millers Point Penthouse's website")