body {
    background-color: $color-primary;
    color: $color-accent;
    font-family: $suisse;
}

// body::-webkit-scrollbar {
//   width: 0.8em;
// }
 
// body::-webkit-scrollbar-track {
//   background-color: $color-primary;
// }
 
// body::-webkit-scrollbar-thumb {
//   background-color: $color-accent;
//   border-radius: 1em;
//   border: 2px solid $color-primary;
// }