.project__showcase 
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-1.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-1.png", alt="")
        
    figure.preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-2.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-2.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-3.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-3.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-4.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-4.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-5.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-5.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-6.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-6.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-7.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-7.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-8.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-8.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-9.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-9.png", alt="")
    
    figure.preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-10.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-10.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-11.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-11.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-12.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-12.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-13.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-13.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-14.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-14.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-15.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-15.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-16.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-16.png", alt="")
    
    figure.preview.boxed__preview
        picture 
            source(srcset="/images/projects/dcs/webp/dcs-17.webp" type="image/webp")
            img(src="/images/projects/dcs/jpg/dcs-17.png", alt="")