.footer  {
    margin: 0 8.3333333vw;
    display: flex;
    justify-content: center;
    height: 66vh;
    border-top: 1px solid rgba($color-accent, 0.5);
}

@media only screen and (max-width: 480px) {
    .footer {
        height: 65vh;
        padding: 10vh 0;
        margin: 0;
        justify-content: flex-start;
    }
}

.footer__content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

@media only screen and (max-width: 480px) {
    .footer__content {
        flex-direction: column;
    }

    .footer__col {
        margin-bottom: 20px;
    }
}

.footer__col:nth-child(2) {
    text-align: center;
}

.footer__col:nth-child(3) {
    text-align: right;
}

@media only screen and (max-width: 700px) {
    .footer__col:nth-child(2) {
        text-align: left;
    }

    .footer__col:nth-child(3) {
        display: none;
    }
}

.footer__col-heading {
    font-size: 0.58rem;
    margin-bottom: 60px;
}

@media only screen and (max-width: 480px) {
    .footer__col-heading {
        margin-bottom: 20px;
    }
}

.footer__media {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 480px) {
    .footer__item {
        margin: 10px 0 10px;
    }

    .footer__description {
        line-height: 2;
    }
}

.top {
    width: 6em;
    height: 6em;
    background: $color-offwhite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: translate(40%, -30%);
    margin-top: -25%;
    margin-left: 40%;
    position: relative;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.top:hover {
    transform: scale(1.2);
}

.top-arrow {
    fill: none;
    stroke: #1d1d1d;
    stroke-miterlimit: 10;
    stroke-width: 2.4px;
    transform-origin: center;
    transform: scale(0.8);
    transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.top:hover > .top-arrow {
    transform: scale(0.6666666667);
}