.header__wrapper {
    position: relative;
    width: 100%;
    top: 0;
    padding-left:8.3333333333vw;
    padding-right: 8.3333333333vw;
    z-index: 9999999;
}

.header__content {
    position: relative;
}

.header__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5vh 0;
    list-style: none;
}

.header__item {
    display: inline-block;    
}

.header__item:last-child {
    cursor: pointer;
}