.header__wrapper {
    padding: 0 8.3333333333vw;
}

.header__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5vh 0;
    text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
    .header__list {
        justify-content: center;
    }
    
    .header__item:not(:last-child) {
        display: none;
    }
}

.header__item:last-child {
    position: relative;
    overflow-y: hidden;
    pointer-events: all;
    cursor: pointer;
}

.contact {
    transition: transform 1s cubic-bezier(0.19,1,0.22,1), opacity .5s cubic-bezier(0.19,1,0.22,1);
}

.contact:nth-child(2) {
    position: absolute;
}