.hero {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .hero {
        height: auto;
        text-align: left;
    }
}

.hero__line {
    overflow: hidden;
    margin-bottom: 8px;
    transform: translate3d(0, 0, 0) skewY(0);
} 

@media only screen and (max-width: 600px) {
    .hero__line {
        margin-bottom: 0;
    }

    .hero__line:nth-child(2) {
        text-align: right;
    }
}

.hero__word {
    @include lhCrop(1.9);
    font-family: $saol;
    font-size: clamp(3rem, 7.2vw, 7.6rem);
    letter-spacing: calc(-32 / 1000) * 1em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .hero__word {
        line-height: 5.6rem;
    }
}

/*
* Word Spacing
*/
.hero__word:nth-child(2) {
    margin-left: 15px;
}

@media only screen and (max-width: 600px) {
    .hero__word:nth-child(2) {
        margin-left: 0;
    }
}

/*
* Shifting line 3 to right as per design
*/
.hero__line:nth-child(3) {
    margin-left: 24px;
}

@media only screen and (max-width: 600px) {
    .hero__line:nth-child(3) {
        margin-left: 0;
    }

    #hero-2022 {
        transform: translateX(100%);
    }
}

@media only screen and (max-width: 460px) {
    .line__svg {
        position: absolute;
        top: 75%;
        width: 60px;
        height: 2px;
        background-color: $color-orange;
        margin-left: 20px;
    }
}

.hero__description {
    font-family: $suisse;
    font-size: 0.9rem;
    letter-spacing: calc(-48 / 1000) * 1em;
    line-height: 14pt;
    
    span {
        opacity: 0;
        visibility: hidden;
        display: inline-block;
        transform: translateY(200%);
    }
}

// this is bigger breakpoint than 480px so the body margin is not visible in range 480-600
// and thus the text flushes to both corners on screen
@media only screen and (max-width: 600px) {
    .hero__description {
        line-height: initial;
        margin: 15vh 0;
    }
}
