.project {
    font-family: $saol;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    position: relative;
    padding-bottom: 36vh;
}

.project canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    pointer-events: none;
}

.project__heading {
    text-align: center;
    font-size: clamp(1rem, 2vw, 2.2rem); 
    padding: 35px 0;
}

@media only screen and (max-width: 480px) {
    .project__heading {
        text-align: left;
    }
}

.project__list {
    width: fit-content;
    position: relative;
    left: 44%;
    padding: 0;
}

@media only screen and (max-width: 480px) {
    .project__list {
        left: 0;
    }
}

.project__item {
    border-bottom: 0.1px solid rgba($color-accent, 0.5);
}

@media only screen and (max-width: 480px) {
    .project__item {
        // padding: 12px 0 18px;
        padding: 12px 0 5px;
    }
}

.project__link {
    display: flex;
    align-items: flex-end;
    padding-bottom: 18px;
}

.project__number  {
    color: $color-orange;
    font-size: 40px;
    margin-right: 16px;
}

@media only screen and (max-width: 480px) {
    .project__number {
        font-size: 1.7rem;
    }
}

.project__title {
    font-size: clamp(2.5rem, 5vw, 5rem); 
    letter-spacing: -4px;
    margin-bottom: -0.33rem;
}

@media only screen and (max-width: 480px) {
    .project__title {
        letter-spacing: -1.6px;
    }
}

.project__img {
    display: none;
}