canvas {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    pointer-events: none;
}

.project {
    font-family: $saol;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin-bottom: 36vh;
    position: relative;
}

.project__heading {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    padding: 35px 0;
}

@media only screen and (max-width: 480px) {
    .project__heading {
        font-size: 1rem;
        text-align: left;
    }
}

.project__list {
    padding: 0;
    position: relative;
    left: 44%;
    width: fit-content;
    // padding: 35px 0 0;
}

@media only screen and (max-width: 480px) {
    .project__list {
        left: 0;
    }
}

.project__item {
    border-bottom: 0.1px solid rgba($color-accent, 0.5);
    padding-bottom: 18px;
}

@media only screen and (max-width: 480px) {
    .project__item {
        padding: 12px 0 18px;
    }
}

.project__content {
    display: flex;
    align-items: flex-end;
}

.project__number  {
    color: $color-orange;
    font-size: 40px;
    margin-right: 16px;
}

@media only screen and (max-width: 480px) {
    // this is to be used as a clamp min
    .project__number {
        font-size: 1.7rem;
    }
}

.project__title {
    // @extend %heading-96;
    //value to be clamped
    // font-size: 2.5rem;
    font-size: 5vw;
    letter-spacing: -4px;
    margin-bottom: -0.33rem;
}

@media only screen and (max-width: 480px) {
    .project__title {
        font-size: 2.5rem;
        letter-spacing: -1.6px;
    }
}

.project__img {
    // position: absolute;
    // transform: translate(-120%, -60%);
    // width: 320px;
    // height: 195px;
    display: none;
}

figure {

}

picture.lazy {

}

.project__link {
    cursor: pointer;
}